<h2>Question</h2>
<div class="question row-fluid">
	<div class="votes span1">
		<span class="vote_count"><%=@question.total_votes%></span>
		<span class="label">Total Votes</span>
	</div>
	<div class="@question.content span11">
		<h3><%=@question.subject%></h3>
		<%=@question.formatted_content.html_safe%>
		<div class="@question.meta">
			<span class="posted_by">Asked By: <%=@question.spud_user.full_name%></span>
			<span class="posted_at"><%=timestamp @question.created_at%></span>
		</div>
	</div>
</div>

<hr/>
<h2>Answers</h2>
