<h2>Question</h2>
<%=render :partial => "question", :locals => {:editable => true, :question => @question}%>

<hr/>
<%if @answers.blank? == false %>
	<h2>Answers</h2>
	<%=render :partial => "/answers/answer", :collection => @answers%>
	<hr/>
<%end%>
<h2>Your answer</h2>
<%=form_for @answer, :url => question_answer_path(@question,@answer), :html => {:class => "form-horizontal well"} do |f|%>
	<div class="control-group">
		<%=f.label :content, "Answer", :class => "control-label"%>
		<div class="controls">
			<%=f.text_area :content, :class=>"question-field"%>
		    <span class="help-block">Markdown format Supported.</span>
		</div>
	</div>
	<div class="control-group">
		<div class="controls">
			<%=f.submit "Post your Answer", :class => "btn btn-primary"%>
		</div>
	</div>
<%end%>
