
<div class="answer row-fluid">
	<div class="votes span1">
		<%=link_to "Up Vote", vote_answer_url(:id => answer.id,:value => 1), :class => "up-vote-btn"%>
		<span class="vote_count"><%=answer.total_votes%></span>
		<%=link_to "Down Vote", vote_answer_url(:id => answer.id,:value => -1), :class => "down-vote-btn"%>
	</div>
	<div class="answer_content span11">
		<%=answer.formatted_content.html_safe%>
		<div class="answer_meta">
			<span class="posted_by">Asked By: <%=answer.spud_user.try(:full_name)%></span>
			<span class="posted_at"><%=timestamp answer.created_at%></span>
		</div>
	</div>
</div>
